<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="dog">

  <ros2_control name="dog_system" type="system">

          <hardware>
              <plugin>mujoco_ros2_control/MujocoSystem</plugin>
          </hardware>

          <joint name="lf_joint1">
              <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
              <command_interface name="effort" />
              <state_interface name="position" />
              <state_interface name="velocity" />
              <state_interface name="effort" />
          </joint>

          <joint name="lf_joint2">
              <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
              <command_interface name="effort" />
              <state_interface name="position" />
              <state_interface name="velocity" />
              <state_interface name="effort" />
          </joint>

          <joint name="lf_joint3">
              <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
              <command_interface name="effort" />
              <state_interface name="position" />
              <state_interface name="velocity" />
              <state_interface name="effort" />
          </joint>

          <joint name="rf_joint1">
              <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
              <command_interface name="effort" />
              <state_interface name="position" />
              <state_interface name="velocity" />
              <state_interface name="effort" />
          </joint>

          <joint name="rf_joint2">
              <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
              <command_interface name="effort" />
              <state_interface name="position" />
              <state_interface name="velocity" />
              <state_interface name="effort" />
          </joint>

          <joint name="rf_joint3">
              <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
              <command_interface name="effort" />
              <state_interface name="position" />
              <state_interface name="velocity" />
              <state_interface name="effort" />
          </joint>

          <joint name="lb_joint1">
              <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
              <command_interface name="effort" />
              <state_interface name="position" />
              <state_interface name="velocity" />
              <state_interface name="effort" />
          </joint>

          <joint name="lb_joint2">
              <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
              <command_interface name="effort" />
              <state_interface name="position" />
              <state_interface name="velocity" />
              <state_interface name="effort" />
          </joint>

          <joint name="lb_joint3">
              <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
              <command_interface name="effort" />
              <state_interface name="position" />
              <state_interface name="velocity" />
              <state_interface name="effort" />
          </joint>

          <joint name="rb_joint1">
              <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
              <command_interface name="effort" />
              <state_interface name="position" />
              <state_interface name="velocity" />
              <state_interface name="effort" />
          </joint>

          <joint name="rb_joint2">
              <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
              <command_interface name="effort" />
              <state_interface name="position" />
              <state_interface name="velocity" />
              <state_interface name="effort" />
          </joint>

          <joint name="rb_joint3">
              <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
              <command_interface name="effort" />
              <state_interface name="position" />
              <state_interface name="velocity" />
              <state_interface name="effort" />
          </joint>

      </ros2_control>


  <link
    name="body_link">
    <inertial>
      <origin
        xyz="-0.00130876031713992 -0.002159749089513 0.0573835823788194"
        rpy="0 0 0" />
      <mass
        value="3.14843748747337" />
      <inertia
        ixx="0.00613256063176442"
        ixy="-5.33177885465815E-07"
        ixz="5.69184032714873E-06"
        iyy="0.0116618571475623"
        iyz="1.8420837129534E-05"
        izz="0.0124624398240736" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/body_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/body_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="lf_link1">
    <inertial>
      <origin
        xyz="0.000862325682570775 0.0088226249123505 0.04442250232731"
        rpy="0 0 0" />
      <mass
        value="0.305258520873074" />
      <inertia
        ixx="0.000136239011806526"
        ixy="-2.51732864990852E-08"
        ixz="-6.31319135719969E-06"
        iyy="0.000294539128219531"
        iyz="2.39049974849721E-08"
        izz="0.000186109186002405" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lf_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lf_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_joint1"
    type="revolute">
    <origin
      xyz="0.1916 0.069987 0.061999"
      rpy="0 1.5708 0" />
    <parent
      link="body_link" />
    <child
      link="lf_link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lf_link2">
    <inertial>
      <origin
        xyz="-0.0414284160378658 -0.0489932764636742 0.050956443691431"
        rpy="0 0 0" />
      <mass
        value="0.687935058008792" />
      <inertia
        ixx="0.00139272880462025"
        ixy="-0.000805371005850147"
        ixz="-2.99823435193455E-08"
        iyy="0.000912015235536654"
        iyz="-7.9296310197041E-08"
        izz="0.00227863414244847" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lf_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lf_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_joint2"
    type="revolute">
    <origin
      xyz="0 0.029313 0.060013"
      rpy="1.5708 0 3.1416" />
    <parent
      link="lf_link1" />
    <child
      link="lf_link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lf_link3">
    <inertial>
      <origin
        xyz="-0.0878359497898194 -0.0744367927774779 -0.0232451722203955"
        rpy="0 0 0" />
      <mass
        value="0.0715412570113012" />
      <inertia
        ixx="0.00016980181486"
        ixy="-0.000191918059394841"
        ixz="-8.51689855968751E-19"
        iyy="0.000233625068696502"
        iyz="-7.18304998641834E-19"
        izz="0.000403009789814217" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lf_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lf_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_joint3"
    type="revolute">
    <origin
      xyz="-0.14792 -0.17613 0.0935"
      rpy="0 0 -1.5708" />
    <parent
      link="lf_link2" />
    <child
      link="lf_link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lf_link4">
    <inertial>
      <origin
        xyz="-8.33838005254162E-07 -2.32183281584364E-06 -0.0137203038152374"
        rpy="0 0 0" />
      <mass
        value="0.392667576355367" />
      <inertia
        ixx="0.000427673279684473"
        ixy="-1.66712102325801E-10"
        ixz="-7.83183418259419E-09"
        iyy="0.000427672875183246"
        iyz="-2.1893152005845E-08"
        izz="0.000777284873782633" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lf_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.941176470588235 0.674509803921569 0.117647058823529 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lf_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_joint4"
    type="continuous">
    <origin
      xyz="-0.17165 -0.14547 0.028"
      rpy="0 0 0" />
    <parent
      link="lf_link3" />
    <child
      link="lf_link4" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="lb_link1">
    <inertial>
      <origin
        xyz="-0.000925123690143026 -0.00878237479301754 0.0445470021451261"
        rpy="0 0 0" />
      <mass
        value="0.30525851335117" />
      <inertia
        ixx="0.000136281253269725"
        ixy="2.58521394761104E-06"
        ixz="6.31297933943956E-06"
        iyy="0.000294496916566845"
        iyz="-6.47399089819366E-08"
        izz="0.00018610918543547" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lb_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lb_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lb_joint1"
    type="revolute">
    <origin
      xyz="-0.1916 0.070013 0.061999"
      rpy="3.1416 1.5708 0" />
    <parent
      link="body_link" />
    <child
      link="lb_link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lb_link2">
    <inertial>
      <origin
        xyz="-0.04867826701958 -0.0388683075607596 0.0506213294063392"
        rpy="0 0 0" />
      <mass
        value="0.682338727568128" />
      <inertia
        ixx="0.00106612242020082"
        ixy="-0.000836341770850361"
        ixz="-4.48253838778446E-08"
        iyy="0.00123505565307279"
        iyz="6.36427244189451E-09"
        izz="0.00227507943112639" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lb_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lb_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lb_joint2"
    type="revolute">
    <origin
      xyz="-0.00047387 -0.029283 0.059987"
      rpy="-1.5708 0 3.1254" />
    <parent
      link="lb_link1" />
    <child
      link="lb_link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lb_link3">
    <inertial>
      <origin
        xyz="0.112998107354233 -3.86801701779405E-13 -0.0233570602524557"
        rpy="0 0 0" />
      <mass
        value="0.127541149243291" />
      <inertia
        ixx="1.2488110467128E-05"
        ixy="1.36244953104323E-15"
        ixz="-9.84258041030927E-20"
        iyy="0.000516959786484769"
        iyz="7.60829667702252E-22"
        izz="0.000528884581268784" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lb_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lb_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lb_joint3"
    type="revolute">
    <origin
      xyz="-0.17921 -0.14417 0.0935"
      rpy="0 0 2.6627" />
    <parent
      link="lb_link2" />
    <child
      link="lb_link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lb_link4">
    <inertial>
      <origin
        xyz="1.202937649325E-06 -1.88942011780657E-06 -0.0136284016701862"
        rpy="0 0 0" />
      <mass
        value="0.432627590726503" />
      <inertia
        ixx="0.000460072015109139"
        ixy="2.37407219774699E-10"
        ixz="1.2524306430977E-08"
        iyy="0.000460071794040395"
        iyz="-1.95870126671372E-08"
        izz="0.000837967081504536" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lb_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.941176470588235 0.674509803921569 0.117647058823529 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/lb_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lb_joint4"
    type="continuous">
    <origin
      xyz="0.225 0 0.028"
      rpy="0 0 2.0497" />
    <parent
      link="lb_link3" />
    <child
      link="lb_link4" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="rf_link1">
    <inertial>
      <origin
        xyz="-0.000782753636641528 -0.00879617351706156 0.0445470017446513"
        rpy="0 0 0" />
      <mass
        value="0.305258520879219" />
      <inertia
        ixx="0.000136239016447643"
        ixy="2.53952144736136E-08"
        ixz="6.31321573944839E-06"
        iyy="0.000294539128219851"
        iyz="3.73658658400503E-08"
        izz="0.00018610918136163" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rf_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rf_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_joint1"
    type="revolute">
    <origin
      xyz="0.1916 -0.070013 0.061999"
      rpy="0 1.5708 0" />
    <parent
      link="body_link" />
    <child
      link="rf_link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rf_link2">
    <inertial>
      <origin
        xyz="-0.0367695748828415 -0.0504900203390353 0.0506213295164146"
        rpy="0 0 0" />
      <mass
        value="0.682338731946652" />
      <inertia
        ixx="0.00130897010037217"
        ixy="-0.000825433075834241"
        ixz="-2.10005426024928E-08"
        iyy="0.000992207950419585"
        iyz="-8.49003100461884E-08"
        izz="0.00227507940810801" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rf_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rf_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_joint2"
    type="revolute">
    <origin
      xyz="0 -0.029287 0.059987"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="rf_link1" />
    <child
      link="rf_link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rf_link3">
    <inertial>
      <origin
        xyz="0.113977852210488 6.16173778666962E-15 -0.0233570602524557"
        rpy="0 0 0" />
      <mass
        value="0.127541149243291" />
      <inertia
        ixx="1.24881104671281E-05"
        ixy="-5.79285832627216E-18"
        ixz="-4.28413108504321E-20"
        iyy="0.000516959786484769"
        iyz="-3.59798357248759E-21"
        izz="0.000528884581268784" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rf_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rf_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_joint3"
    type="revolute">
    <origin
      xyz="-0.13592 -0.18553 0.0935"
      rpy="0 0 -0.80414" />
    <parent
      link="rf_link2" />
    <child
      link="rf_link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rf_link4">
    <inertial>
      <origin
        xyz="2.17473221207631E-06 5.36337152690081E-07 -0.013628401474588"
        rpy="0 0 0" />
      <mass
        value="0.43262756992202" />
      <inertia
        ixx="0.000460071691408483"
        ixy="-1.22108710038689E-10"
        ixz="2.25643101368056E-08"
        iyy="0.000460072155161623"
        iyz="5.60990075285698E-09"
        izz="0.00083796708140874" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rf_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.941176470588235 0.674509803921569 0.117647058823529 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rf_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_joint4"
    type="continuous">
    <origin
      xyz="0.225 0 0.028"
      rpy="0 0 0.80414" />
    <parent
      link="rf_link3" />
    <child
      link="rf_link4" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="rb_link1">
    <inertial>
      <origin
        xyz="0.000471305086336568 0.00883904276525006 0.0444224277378844"
        rpy="0 0 0" />
      <mass
        value="0.305258497916776" />
      <inertia
        ixx="0.000136553367571207"
        ixy="-7.04693404954447E-06"
        ixz="-6.30800958436001E-06"
        iyy="0.000294224844619598"
        iyz="-2.56429770415964E-07"
        izz="0.000186109191983999" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rb_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rb_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rb_joint1"
    type="revolute">
    <origin
      xyz="-0.1916 -0.07 0.062"
      rpy="3.1416 1.5708 0" />
    <parent
      link="body_link" />
    <child
      link="rb_link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rb_link2">
    <inertial>
      <origin
        xyz="0.0525651625227817 -0.0332560638444321 0.0506213296568731"
        rpy="0 0 0" />
      <mass
        value="0.682338712671128" />
      <inertia
        ixx="0.000887516440810809"
        ixy="0.000798527234764498"
        ixz="8.65626424750839E-08"
        iyy="0.00141366164858407"
        iyz="-1.61257625248523E-08"
        izz="0.00227507944798916" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rb_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rb_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rb_joint2"
    type="revolute">
    <origin
      xyz="-0.001301 0.029271 0.06"
      rpy="-1.5708 0 0.044416" />
    <parent
      link="rb_link1" />
    <child
      link="rb_link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rb_link3">
    <inertial>
      <origin
        xyz="0.112998107353959 -3.60822483003176E-14 -0.0233570602524559"
        rpy="0 0 0" />
      <mass
        value="0.127541149243291" />
      <inertia
        ixx="1.24881104671278E-05"
        ixy="-1.73006479476691E-18"
        ixz="8.76479384235136E-21"
        iyy="0.00051695978648477"
        iyz="-1.71938451521418E-22"
        izz="0.000528884581268785" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rb_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rb_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rb_joint3"
    type="revolute">
    <origin
      xyz="0.19386 -0.12377 0.0935"
      rpy="0 0 0.53404" />
    <parent
      link="rb_link2" />
    <child
      link="rb_link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rb_link4">
    <inertial>
      <origin
        xyz="1.99351474772236E-08 -2.23938457843964E-06 -0.0136284069014872"
        rpy="0 0 0" />
      <mass
        value="0.432627455975136" />
      <inertia
        ixx="0.00046007217221077"
        ixy="5.06103328193414E-12"
        ixz="2.54278320132802E-10"
        iyy="0.000460071648693003"
        iyz="-2.32421124609184E-08"
        izz="0.000837967081389748" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rb_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.941176470588235 0.674509803921569 0.117647058823529 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog/meshes/rb_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rb_joint4"
    type="continuous">
    <origin
      xyz="0.225 0 0.028"
      rpy="0 0 1.0368" />
    <parent
      link="rb_link3" />
    <child
      link="rb_link4" />
    <axis
      xyz="0 0 -1" />
  </joint>
</robot>